In [4]:
import pandas as pd
import numpy as np

In [5]:
!kaggle datasets download -d clmentbisaillon/fake-and-real-news-dataset

Dataset URL: https://www.kaggle.com/datasets/clmentbisaillon/fake-and-real-news-dataset
License(s): CC-BY-NC-SA-4.0
Downloading fake-and-real-news-dataset.zip to /home/vboxuser/SparkNotebooks/TweetClassifier
 98%|##################################### | 40.0M/41.0M [00:02<00:00, 28.4MB/s]
100%|######################################| 41.0M/41.0M [00:02<00:00, 16.6MB/s]

In [6]:
import zipfile

In [8]:
zipf = zipfile.ZipFile("fake-and-real-news-dataset.zip")
zipf.extractall("data/")

In [9]:
fake_data = pd.read_csv("data/Fake.csv")
true_data = pd.read_csv("data/True.csv")

In [12]:
fake_data["label"]="fake"
true_data["label"]="true"

In [11]:
fake_data.head()

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",fake
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",fake
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",fake
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",fake
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",fake

In [24]:
all_data = pd.concat([fake_data,true_data],ignore_index=True)

In [25]:
all_data.head(5)

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",fake
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",fake
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",fake
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",fake
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",fake

In [26]:
all_data.tail(5)

,title,text,subject,date,label
44893,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",true
44894,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",true
44895,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",true
44896,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",true
44897,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",true

In [28]:
final_df = all_data[["title","label"]]

In [30]:
final_df = final_df.sample(frac=1.0,random_state=42)

In [33]:
final_df.reset_index()

       index                                              title label
0      22216  Ben Stein Calls Out 9th Circuit Court: Committ...  fake
1      27917  Trump drops Steve Bannon from National Securit...  true
2      25007  Puerto Rico expects U.S. to lift Jones Act shi...  true
3       1377   OOPS: Trump Just Accidentally Confirmed He Le...  fake
4      32476  Donald Trump heads for Scotland to reopen a go...  true
...      ...                                                ...   ...
44893  11284  UNREAL! CBS’S TED KOPPEL Tells Sean Hannity He...  fake
44894  44732  PM May seeks to ease Japan's Brexit fears duri...  true
44895  38158  Merkel: Difficult German coalition talks can r...  true
44896    860   Trump Stole An Idea From North Korean Propaga...  fake
44897  15795  BREAKING: HILLARY CLINTON’S STATE DEPARTMENT G...  fake

[44898 rows x 3 columns]

In [32]:
final_df["label"].value_counts()

label
fake    23481
true    21417
Name: count, dtype: int64

In [35]:
final_df.to_csv('data/fake_true_curated.csv',index=False)